*{
    padding: 0px;
    margin: 0;
    box-sizing:border-box;
    

}
body{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 12px;
    color:#1d4369;
   
}
p {
    margin-bottom: 5px;
    margin-top: 10px;
    font-family:Copperplate;
    font-size: 20px;

}
.text-center {
    color: darkred;
}
main{
  min-height:100vh;  
  width:100%;
  display: flex;
  align-items:center;
  justify-content: center;
  padding: 100px 0;
  background-color: lightslategray ;
}
.container{
    width:90%;
    height:auto;
    max-width: 1200px;
    margin: 0 auto;
    background-color:white ;
}
h1,h2,h3{
    text-align: center;
    font-weight: bolder;
}
#title{
    text-align: center;
    font-size: 4rem;
    color: whitesmoke;
    margin-bottom:30px;
}
form{
    width:100%;
    max-width: 400px;
    margin: 20px auto; 
    background-color: white; 
    display:flex;
}
form input{
    width:100%;
    background-color:transparent;
    padding: 10px;
    border-radius:4px;
    border:none;
    outline-style:inset;


}
div>.food-list {
    display: flex;
    flex-direction: column;
    align-content:center;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: white;
    
}
